.Title {
    box-sizing: border-box;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.SelectorDate {
    width: 20%;
    height: 50px;
    font-size: 20px;
    padding: 5px auto 12px 50px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #085FD1;
    border-radius: 5px;
}

.SelectorTime {
    width: 20%;
    height: 50px;
    font-size: 20px;
    padding: 5px auto 12px 50px;
    margin: 8px 20px;
    box-sizing: border-box;
    border: 1px solid  #085FD1;
    border-radius: 5px;
}

.Selector:focus {
    border: 4px solid #085FD1;
}

.TimePicker {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
}